.footer {
  background-color: var(--clr-black);
  color: var(--clr-white);

  &__content {
    display: grid;
    gap: 2.25rem;
    padding: 3rem 2rem;
  }

  &__socials {
    display: flex;
    gap: 1rem;

    & > * {
      color: var(--clr-white);

      &:hover {
        color: var(--clr-main-color-brown);
      }
    }
  }
}